@import 'https://fonts.googleapis.com/css?family=Sansita+One|Sniglet|Ubuntu';
body {
  font-family: 'Sniglet', 'Ubuntu', 'Sansita One';
  letter-spacing: 1px;
  background: url("../img/bg-pattern.png"), #ECE9E6;
  /* fallback for old browsers */
  background: url("../img/bg-pattern.png"), -webkit-linear-gradient(to left, #ECE9E6, #FFFFFF);
  /* Chrome 10-25, Safari 5.1-6 */
  background: url("../img/bg-pattern.png"), linear-gradient(to left, #ECE9E6, #FFFFFF);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.mainContainer h1 {
  font-family: 'Sansita One', cursive;
  font-size: 54px;
  color: #C51162;
  margin-top: 100px;
  margin-bottom: 0;
}

.mainContainer h3 {
  font-family: 'Sniglet', cursive;
  font-size: 28px;
  line-height: 1.5;
  margin-top: 0;
  margin-bottom: 40px;
}

.navbar-default {
  background: url("../img/bg-pattern.png"), #ECE9E6;
  /* fallback for old browsers */
  background: url("../img/bg-pattern.png"), -webkit-linear-gradient(to left, #ECE9E6, #FFFFFF);
  /* Chrome 10-25, Safari 5.1-6 */
  background: url("../img/bg-pattern.png"), linear-gradient(to left, #ECE9E6, #FFFFFF);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
  border-color: rgba(21, 21, 19, 0.05);
  font-weight: 200;
  letter-spacing: 1px;
}
.navbar-default .nav > li > a {
  margin: 0 160px 0 auto;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 13px;
}
.navbar-default .nav > li > a,
.navbar-default .nav > li > a:focus {
  color: #222222;
}
.navbar-default .nav > li > a:hover,
.navbar-default .nav > li > a:focus:hover {
  color: #C51162;
}
.navbar-default .nav > li.active > a,
.navbar-default .nav > li.active > a:focus {
  color: #C51162 !important;
  background-color: transparent;
}
.navbar-default .nav > li.active > a:hover,
.navbar-default .nav > li.active > a:focus:hover {
  background-color: transparent;
} 

.mainContainer {
  margin: 80px 160px 0 160px;
  text-align: center;
}

/* question box */
.qformBox {
  margin: 0 auto 40px auto;
}

.btn {
  font-family: 'Sniglet', cursive;
}

.btn-xl {
  padding: 5px 30px;
  font-size: 20px;
  font-weight: bold;
  height: 50px;
  border-radius: 15px;
}

.btn-xs {
  padding: 0px 30px;
  font-size: 18px;
  font-weight: bold;
  height: 50px;
  border-radius: 5px;
}
	
/* form */
.form-group {
  font-family: 'Ubuntu', 'Sniglet', 'Sansita One';
  text-align: center;
  position: relative;
}

.control-label {
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 1px;
}
  
.form-control {
  letter-spacing: 1px;
  padding: 0px 30px;
}

.form-xl{
  width: 100%;
  height: 50px;
  font-size: 20px;
  border-radius: 15px;
}

.form-xs {
  width: 100%;
  height: 50px;
  font-size: 18px;
  border-radius: 5px;
}

/* answer box */
.mainAnswerBox {
  margin: 0 auto 40px auto;
  color: white;
  /*color: black;*/
  padding:15px 30px;
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
  font-size: 20px;
  font-weight: bold;
  background-color: #4FC3F7;
  border-radius: 15px;
}

.answerBox {
  margin: 0 auto 20px auto;
  text-align: left;
  font-family: 'Ubuntu', sans-serif;
  border-radius: 15px;
  border-color: #4FC3F7;
}

table {
  width: 100%;
  text-transform: lowercase;
}
.answerBox h4 {
  margin: 0;
  padding:20px 30px;
  font-size: 20px;
  line-height: 2;
  border-radius: 15px;
  background-color: #eeeeee;
}

/* spinner animations */
.spinner-animation,.answer-animation {
  opacity: 1;
  position: absolute;
  top:44%;
}
.answer-animation {
  display: block;
  width: inherit;
  top: 34%;
}
.spinner-animation.ng-hide-add,
.spinner-animation.ng-hide-remove,
.answer-animation.ng-hide-add,
.answer-animation.ng-hide-remove {
  transition: all ease 1s;
}

.spinner-animation.ng-hide {
  opacity: 0;
  top: 28%;
}
.answer-animation.ng-hide {
  opacity: 0;
  position: absolute;
  top: 55%;
}

.spinner {
  margin: 160px auto;
  width: 60px;
  height: 40px;
  text-align: center;
  font-size: 10px;
}

.spinner > div {
  background-color: #C51162;
  height: 100%;
  width: 6px;
  display: inline-block;
  
  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
  0%, 40%, 100% { 
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% { 
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}