*.pdf
*.synctex*
*.tmp
*.fdb_latexmk
.fuse*
*.toc
*.log
*.lof
*.aux
*.glo
*.lot
PDF/*
Bahan/*
Odt/*
Program/API/Jena/*
Program/Ontologi/v*.*/*
Program/Apps/DesktopVersion/nbproject/private/
Program/Apps/.metadata/*
Program/Apps/.recommenders/*
Program/Apps/DesktopVersion/build/
Program/Apps/DesktopVersion/dist/
thesisku.sublime-workspace
