<div class="row">
	<div class="mainAnswerBox animated fadeInBottom">
		{{ mainAnswer  }}
	</div>
</div>

<div class="row" data-ng-repeat="resep in reseps" ng-if="resep.about">
	<div class="panel-group" >
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title" style="text-align:left">
          <a data-toggle="collapse" href="/#/#collapse-{{$index}}" style="text-align:left">{{ resep.about }}</a>
        </h4>
      </div>
      <div id="collapse-{{$index}}" class="panel-collapse collapse">
        <div class="panel-body">
        	<table>
		        <tr data-ng-repeat="resep in reseps" ng-if="resep.value">
					<td>{{ resep.key }}</td>
					<td>{{ resep.value }}</td>
				</tr>
			</table>	
        </div>
      </div>
    </div>
  	</div>
</div>

<!-- 
<div class="row">
 	<table class = "table table-striped" cellpadding="1" cellspacing="1">
		<tr ng-repeat="resep in reseps">
			<td> {{ resep.about }} </td>
			<td>{{ resep.key }}</td>
			<td>{{ resep.value }}</td>	
		</tr>
	</table>
</div>
 -->